
¨*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Montserrat', sans-serif;
   background: linear-gradient(120deg, hsla(33, 95%, 78%, 0.733) 0%, hsla(288, 64%, 66%, 0.705) 100%);
   width: 100%;
   text-align: center;
 }

 #Menu ul{
   
    list-style:none;
    margin: 0;
    padding: 0;
}

#Menu #item {
    float:left;
}
#Menu #vacio {
    float:left;
}
#Menu #item a{
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,000000+21,666666+33,474747+39,2c2c2c+50,111111+60,2b2b2b+76,1c1c1c+91,131313+100 */
 background: #4c4c4c; /* Old browsers */
 background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #131212 21%, #666666 33%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#000000 21%,#666666 33%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#000000 21%,#666666 33%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */;
   color: rgb(255, 255, 255);
   text-decoration-color:none;
   display:block;
   padding: 12px 33px ;
   font-family:"Montserrat";
   font-size:15px;
   
}
#Menu #vacio a{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,000000+21,666666+33,474747+39,2c2c2c+50,111111+60,2b2b2b+76,1c1c1c+91,131313+100 */
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #131212 21%, #666666 33%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#000000 21%,#666666 33%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#000000 21%,#666666 33%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */;
  color: rgb(0, 0, 0);
  text-decoration-color:none;
  display:block;
  padding: 12px 36px ;
  font-family:"Montserrat";
  font-size:15px;
 }
#Menu{
    width:100%;
   height:50px;
}

#Menu #vacio {
    width:760px;
 }
#Menu #desple{
   display:none;
   position: absolute;
}
#Menu #redes{
   display:none;
   position: absolute;
}

#Menu #item:hover #redes{
   display: block;
}
#Menu #item:hover #desple{
   display: block;
}

.barra{
   color: rgb(201, 110, 49);
   padding:14px;
}
#Menu #item a:hover{
   animation:0.5s ms 1;
   color: #c484f1;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+40,f8b500+59,f8b500+59,f8b500+60,fbdf93+100 */
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 40%, rgb(226, 189, 88) 59%, rgba(248,181,0,1) 59%, rgba(248,181,0,1) 60%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 40%,rgb(228, 188, 77) 59%,rgb(226, 188, 83) 59%,rgba(248,181,0,1) 60%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgb(240, 206, 114) 40%,rgba(248,181,0,1) 59%,rgba(248,181,0,1) 59%,rgba(248,181,0,1) 60%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

   
}
.contenedor{
   width:100%;
   display:flex;
   justify-content:center;
   align-items: center;

}
.contenedor figure{
   position: relative;
   height:350px;
   width:550px;
   overflow: hidden;
   box-shadow:0px 15px 25px
   rgba(0,0,0,05);
   cursor: pointer;
}
.contenedor figure{
   
   transition:all 500ms ease-out;
}
.contenedor figure .capa{
   position: absolute;
   top:0;
   width: 100%;
   height: 100%;
   background:#9a58a067;
   transition:all 500ms ease-out;
   opacity: 0;
   text-align:center ;
   visibility: hidden;
}
.contenedor figure:hover > .capa{
   opacity:1;
   visibility: visible;

}
.contenedor figure:hover > .capa h4{
   margin-top: 300px;
   margin-bottom: 25px;
}
.contenedor figure:hover > .capa h4{
   color: #fff;
   font-weight: 400;
   margin-bottom: 120px;
   transition:all 500ms ease-out;
   margin-top: 60px;
   font-family:"Montserrat";
   
  
}

@keyframes ms{
   0%{
    opacity:0;
    transform: scale(1.6);
   }
}